<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css_html.css">
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.2/katex.min.css">
	<script src="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7O6DOR6ZLrJxJ1F8wH8+v1Ko5tDJZBZbF8I8iCLfH0D9OeH6ouOi6WZog==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>{{ title }}</title>
</head>
<body>
	{% include 'header.html' %}
	
    {% include 'flash_message.html' %}
    
    <!-- 主体内容 -->
    <main>
	    {% block content %}{% endblock %}
    </main>

	{% include 'footer.html' %}

    <!-- 浮动问号按钮 -->
    <a href="{{ url_for('tutorial') }}" class="floating-tutorial" title="网站使用教程">?</a>
    
</body>
</html>
