<header class="navbar">
    <div class="logo">
        <a href="/" class="logo-link">
            <img src="/static/icon3.png" alt="Logo" class="logo-img"> <!-- 左侧图片 -->
            <span>科学资源</span> <!-- 标题文字 -->
        </a>
    </div>
    <ul class="need-space">
        <li><a href="/upload">创建投稿</a></li>
	    <li><a href="/articles">阅读投稿</a></li>
		<li><a href="{{ url_for('manage_tags') }}">投稿分类</a></li>
		<li><a href="{{ url_for('bounties') }}" class="bounty-button">🔥热门悬赏</a></li>
    </ul>
	{% if current_user.is_authenticated %}
		{% if current_user.is_admin %}
			<ul>
	            <li><a href="{{ url_for('admin') }}">管理员</a></li>
				<li><a href="{{ url_for('audit_articles') }}">审核文章</a></li>
			</ul>
		{% else %}

        {% endif %}
		<div class="login-btn">
	        <a href="{{ url_for('dashboard', user_id=current_user.id) }}" class="custom-btn">个人面板</a> <!-- 登出按钮 -->
	    </div>
		<div class="login-btn">
	        <a href="{{ url_for('logout') }}" class="custom-btn">登出</a> <!-- 登出按钮 -->
	    </div>
	{% else %}
		<div class="login-btn">
	        <a href="{{ url_for('register') }}" class="custom-btn">注册</a> <!-- 注册按钮 -->
	    </div>
		<div class="login-btn">
	        <a href="{{ url_for('login') }}" class="custom-btn">登录</a> <!-- 登录按钮 -->
	    </div>
	{% endif %}
</header>