{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>标签 {{ tag.name|translate_tag }} 下的文章</h1>
    <ul class="list-group">
        {% for article in articles if article.status == 'published' %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="{{ url_for('view_article', article_id=article.id) }}">{{ article.title }}</a>
                </div>
                <div>
                    <!-- 进入阅读按钮 -->
                    <a href="{{ url_for('view_article', article_id=article.id) }}" class="btn btn-primary btn-sm white_text">进入阅读</a>
                    <!-- 移除标签按钮 -->
                    {% if current_user.is_authenticated %}
                        {% if current_user.is_admin %}
                            <button class="btn btn-warning btn-sm"
                                    data-article-id="{{ article.id }}"
                                    data-tag-id="{{ tag.id }}">
                                移除标签
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    <br />
    <a href="{{ url_for('manage_tags') }}" class="btn btn-secondary mt-3 no_style white_text">返回标签管理界面</a>
</div>


<script>
    // 监听取消标签按钮的点击事件
    document.querySelectorAll('button[data-article-id]').forEach(function(button) {
        button.addEventListener('click', function() {
            const articleId = this.getAttribute('data-article-id');
            const tagId = this.getAttribute('data-tag-id');

            // 发送请求从文章中移除标签
            fetch(`/remove_tag_from_article/${articleId}/${tagId}`, {
                method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Tag removed successfully!');
                    location.reload();  // 刷新页面以更新标签列表
                } else {
                    alert('Error removing tag.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>

{% endblock %}
