{% extends 'base.html' %}

{% block content %}

<div class="container article-container mt-5">
    <h1 class="article-title">{{ article.title }}</h1>
    <p class="article-meta"><strong>Created by:</strong> {{ article.users.username }}</p>
    <p class="article-meta"><strong>Description:</strong> {{ article.description }}</p>
    <p class="article-meta"><strong>Created at:</strong> {{ article.created_at }}</p>
    
    <h3 class="article-tags-title">Tags:</h3>
    <ul class="article-tags-list">
        {% for tag in article.tags %}
            <li class="article-tag-item">{{ tag.name }}</li>
        {% endfor %}
    </ul>

    <h3 class="article-content-title">Content:</h3>
    <div class="article-content">
        {{ content_html|safe }}
    </div>

    <a href="{{ url_for('create_article') }}" class="btn-create-article mt-3">Create Another Article</a>
</div>
{% endblock %}